<footer class="w-[100vw] max-w-full mt-10 p-6 bg-secondary text-white">
  <div class="container mx-auto flex flex-col lg:flex-row justify-around">
    <div class="mb-4 lg:mb-0">
      <h3 class="text-xl font-bold mb-2">Radu Maftei</h3>
      <p>Senior Lead Cuc Barosan FrontEnd Developer</p>
    </div>

    <div class="mb-4 lg:mb-0">
      <h3 class="text-xl font-bold mb-2">Bogdan Sebastian Blanaru</h3>
      <p>Mid de baza FrontEnd Developer</p>
    </div>

    <div>
      <h3 class="text-xl font-bold mb-2">Connect</h3>
      <div class="flex space-x-4">
        <a href="https://github.com/radumaftei/frontend-learning-app" class="text-white hover:text-gray-500"
          ><i class="fab fa-github">Github</i></a
        >
        <a href="https://medium.com/" class="text-white hover:text-gray-500"><i class="fab fa-medium">Medium</i></a>
      </div>
    </div>
  </div>

  <div class="border-t border-gray-700 mt-4 pt-4 text-center">
    <p>&copy; 2023 Cucii Barosani. All rights reserved.</p>
  </div>
</footer>
