<app-header [ngStyle]="{ display: isStarted && isLoggedIn ? 'block' : 'none' }"></app-header>
<div class="flex">
  <app-aside-menu
    [ngStyle]="{ display: isStarted && isLoggedIn ? 'block' : 'none' }"
    class="z-50 relative"
    (topicName)="getTopicName($event)"
    (openedAsideMenu)="getOpenedAsideMenuBoolean($event)"
  ></app-aside-menu>

  <section class="z-40 absolute w-full" [ngStyle]="{ display: isStarted && isLoggedIn ? 'none' : 'block' }">
    <img
      class="w-full h-[50vh] object-fill absolute z-0 sm:object-cover md:h-[71vh]"
      srcset="assets/CoverImage-small.png 320w, assets/CoverImage-medium.png 768w, assets/CoverImage-large.png 1200w"
      sizes="(max-width: 320px) 280px,
         (max-width: 768px) 720px,
         1200px"
      src="assets/CoverImage-large.png"
      loading="eager"
    />

    <div class="bg-gradient absolute w-full h-[50vh] z-40 opacity-60 md:h-[71vh]"></div>

    <div class="w-full h-[50vh] absolute z-40 md:h-[71vh]">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>

    <div class="container mx-auto relative z-50 top-[16vh]">
      <div class="text-center px-20 w-full md:w-8/12 mx-auto text-white">
        <h1 class="text-lg md:text-6xl font-bold uppercase mb-2">Explore! Learn! Succeed!</h1>
        <p>Navigate the path of success through exploration and learning. Your journey to success starts here!</p>
        <button
          (click)="getStarted()"
          class="mt-[4%] border-2 ring-2 ring-sky-400 text-[0.60rem] md:text-base font-bold w-[20%] md:w-[25%] text-white bg-sky-800 py-2 md:py-5 rounded-[25%] transition hover:bg-sky-900 hover:transform hover:duration-1000 hover:translate-y-[-8%]"
        >
          GET STARTED
        </button>
      </div>
    </div>
  </section>

  <section class="flex flex-col">
    <div class="p-4 sm:max-w-4xl">
      <app-featured-articles [topicName]="topicName"></app-featured-articles>
    </div>
    <div class="p-4 sm:max-w-4xl">
      <app-subtopics-list [topicName]="topicName"></app-subtopics-list>
    </div>
  </section>
</div>

<footer [class.footer]="!openedAsideMenu">
  <app-footer></app-footer>
</footer>
