/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

// use these tailwind modules only for this moment
@tailwind base;
@tailwind components;
@tailwind utilities;

// add here the custom classes which you don t find with tailwind

body {
  background-color: #161d31;
}

.footer {
  position: fixed;
  bottom: 0;
}

.bg-secondary {
  background-color: #283046;
}

.selected {
  background-color: #4a5568;
  color: #ffffff;
}

.bg-gradient {
  background: linear-gradient(132deg, #212534, #283046, #212335);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.cube {
  position: absolute;
  top: 70%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: solid 1px #d7d4e4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 8s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 1s;
  left: 25%;
  top: 40%;
}
.cube:nth-child(3) {
  animation-delay: 3s;
  left: 80%;
  top: 50%;
}
.cube:nth-child(4) {
  animation-delay: 5s;
  left: 90%;
  top: 10%;
}
.cube:nth-child(5) {
  animation-delay: 7s;
  left: 10%;
  top: 50%;
}
.cube:nth-child(6) {
  animation-delay: 9s;
  left: 50%;
  top: 10%;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
